!!!
%html
%head
  %title Wikipedia
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = csrf_meta_tags


%body
  %nav.navbar.navbar-default.navbar-fixed-top
    .container
      = link_to "Wikipedia", root_path, class: "navbar-brand"
      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          %li= link_to "Artikel Baru", new_article_path
        - else
          %li= link_to "Masuk", new_user_session_path
          %li= link_to "Daftar", new_user_registration_path
  %p.notice= notice
  %p.alert= alert

  .container
    .row
      .col-md-8
        = yield
      .col-md-4
        %ul.list-group
          %li= link_to "Semua Artikel", root_path, class: "list-group-item"
          - Category.all.each do |category|
            %li= link_to category.name, articles_path(category: category.name), class: "list-group-item"
